# Python
.venv/
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Training outputs
checkpoints/
runs/
lightning_logs/

# Data (do not track large datasets)
data/
data_raw/
data_processed/

# Jupyter
.ipynb_checkpoints/

# ignore models and outputs
*.pth
*.png
*.jpg
checkpoints/
results/
data_raw/
data_processed/
