# Data
data_raw/
*.nc

# Results (DO NOT TRACK)
results/
*.png
*.csv
*.json
!docs/images/*.png
!docs/experiments/*.json
!datasets/small/paths.json
!datasets/medium/paths.json

# Checkpoints
checkpoints/
*.pt

# Temp
tmp/
*.log

# Python
__pycache__/
*.pyc
.venv/
